.main-screen
    .container.main-screen__container
        .main-screen__title Say Hello to
            span.main-screen__title-bg SHOPNO!
        .main-screen__title
            span.main-screen__title-bg Agency
                | CORPORATE SHOPNO Theme